/* 默认设置，可以在 `index.css` 中覆盖 */
:root {
    /* home hero name 背景色，通过背景色裁剪的方式定义文本颜色，
     因此，可以设置渐变背景的方式使文本根据表现力 */
    --vp-bg-home-hero-name: linear-gradient(315deg, var(--vp-c-purple-1) 15%, var(--vp-c-brand-2) 65%, var(--vp-c-brand-2) 100%);
    --vp-c-home-hero-tagline: var(--vp-c-text-2);
    --vp-c-home-hero-text: var(--vp-c-text-3);
  }